@CHARSET "UTF-8";

#media-imagemap {
  position: relative;
  clear: both;
}

#media-imagemap,
#imagemap-edit {
  float: left;  
}

#imagemap-edit {
  background-color: #F2F2F2;
  border: 1px solid #DEDEDE;
  margin-left: 20px;
  padding: 5px;
}

.imagemap-edit-description {
  display: block;
  margin-bottom: 20px;
}

#media-imagemap a.bullet {
  background: transparent url(images/bullet.png) 50% 50% no-repeat;
  display: block;
  width: 12px;
  height: 11px;
  position: absolute; left: 0; top: 0;
  outline: none;
}

.imagemap-button {
  background-color: #DEDEDE; 
  border: 1px solid #ABABAB;
  padding: 3px 5px;
  margin-right: 10px;
}

a .imagemap-hover-text {
  position: absolute; left: 0; top: 0; z-index: 1; 
  border: 1px solid #AAA;
  background: #CCC none; 
  min-width: 100px;
  _min-width: 100px;
  padding: 3px;
  display: block;
  color: #666;
}

a.bullet:hover,
a.bullet:active,
a.bullet:focus {
  text-decoration: none !important;  
}